<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Поиск литературы</title>
</head>
<body>
    {% include 'header.html' %}

    <div class='search-selection'>
        <h1 class='search-title'>Поиск литературы</h1>
        <form action="/find" method="GET" class="search-form">
            <input type="text" name="q" value="{{ query or '' }}" placeholder="Введите тему..." class="search-input">
            <button type="submit" class="search-button">Найти</button>
        </form>
    </div>
</body>
</html>