<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>SLibs</title>

</head>
<body>
    <div id="main-content">
        <div class="index-wrapper">
            <h1 class="index-title">SLibs</h1>
            <p class="index-subtitle">Поиск учебной литературы в одном месте</p>
            <a href="/login" class="index-btn">Войти через Google</a>
        </div>
    </div>
    <!-- АНИМАЦИЯ -->
    <div id="intro-stage">
        <div id="light-flash"></div>
        <h1 id="site-title">SLibs</h1>

        <div class="book-container">
            <div class="book">
                <div class="spine"></div>
                <div class="pages-thick"></div>
                <div class="book-cover front"></div>
                <div class="book-pages"></div>
                <div class="book-cover back"></div>
            </div>
        </div>
    </div>

    <!-- ОСНОВНОЙ КОНТЕНТ САЙТА -->
    <script>
        const hasSeenIntro = sessionStorage.getItem('intro_seen');
        if (hasSeenIntro) {
            document.getElementById('intro-stage').style.display = 'none';
            document.getElementById('main-content').style.opacity = '1';
        } else {
            setTimeout(() => {
                const intro = document.getElementById('intro-stage');
                intro.classList.add('finished');
                document.getElementById('main-content').style.opacity = '1';
                sessionStorage.setItem('intro_seen', 'true');
            }, 4000);
        }
    </script>
</body>
</html>